body{
  background-image: url("ava7patterns_pattern_1360.png");
  font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  font-family: 'Lobster', cursive;
  font-family: 'PT Sans Caption', sans-serif;
}

.navbar-inverse {
    background-color: #ffe5e5;
    border-color: #E7E7E7;
}

