<ul>
  <% if @product && @product.errors.any? %>
  <% @product.errors.full_messages.each do |message|%>
  <li> <%= message %></li>
  <% end %>
  <% end %>
</ul>
<h1>Create a new shoe item:</h1>

<%= render "form" %>